AUTH_TRUST_HOST="true"
NEXTAUTH_URL="your-domain.com"
NEXTAUTH_SECRET="secret-key"
NEXT_PUBLIC_BASE_URL="your-domain.com"
PUBLIC_API_KEY="api key"
GROQ_API_KEY="groq api key"
GOOGLE_VISION_API_KEY="google vision api key"

MONGODB_URI="mongodb+srv://<user>:<password>@cluster.mongodb.net/<db>"

AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your-bucket-name
AWS_BASE_URL=https://your-bucket.s3.your-region.amazonaws.com

